Server/LetsGoBiking/Connected Services/JCDecauxService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models.BaseModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models.BaseModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Stand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Availability" nillable="true" type="tns:Availability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stand" nillable="true" type="tns:Stand" />
  <xs:complexType name="Availability">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalInternalBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalRemovableBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="MechanicalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="Stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availability" nillable="true" type="tns:Availability" />
</xs:schema>