Server/LetsGoBiking/Connected Services/JCDecauxService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" />
  <xs:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/JCDecauxProxy" />
  <xs:element name="GetContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="GetContractsResult" nillable="true" type="q1:ArrayOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="GetStationsResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClosestStationWithBikes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="origin" nillable="true" type="q3:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClosestStationWithBikesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="FindClosestStationWithBikesResult" nillable="true" type="q4:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClosestStationWithStands">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="origin" nillable="true" type="q5:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClosestStationWithStandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="FindClosestStationWithStandsResult" nillable="true" type="q6:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationWithBikesStateOrFindClosest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="station" nillable="true" type="q7:Station" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="location" nillable="true" type="q8:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationWithBikesStateOrFindClosestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="UpdateStationWithBikesStateOrFindClosestResult" nillable="true" type="q9:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationWithStandsStateOrFindClosest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="station" nillable="true" type="q10:Station" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="location" nillable="true" type="q11:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationWithStandsStateOrFindClosestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" minOccurs="0" name="UpdateStationWithStandsStateOrFindClosestResult" nillable="true" type="q12:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JCDecauxProxy" minOccurs="0" name="composite" nillable="true" type="q13:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JCDecauxProxy" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>