Server/LetsGoBiking/Connected Services/JCDecauxService/ProxyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProxyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models" />
      <xsd:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/JCDecauxProxy.Models.BaseModels" />
      <xsd:import schemaLocation="http://localhost:8090/LetsGoBiking/ProxyService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/JCDecauxProxy" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxyService_GetContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContracts" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_FindClosestStationWithBikes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestStationWithBikes" />
  </wsdl:message>
  <wsdl:message name="IProxyService_FindClosestStationWithBikes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestStationWithBikesResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_FindClosestStationWithStands_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestStationWithStands" />
  </wsdl:message>
  <wsdl:message name="IProxyService_FindClosestStationWithStands_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClosestStationWithStandsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_UpdateStationWithBikesStateOrFindClosest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStationWithBikesStateOrFindClosest" />
  </wsdl:message>
  <wsdl:message name="IProxyService_UpdateStationWithBikesStateOrFindClosest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStationWithBikesStateOrFindClosestResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_UpdateStationWithStandsStateOrFindClosest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStationWithStandsStateOrFindClosest" />
  </wsdl:message>
  <wsdl:message name="IProxyService_UpdateStationWithStandsStateOrFindClosest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStationWithStandsStateOrFindClosestResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IProxyService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxyService">
    <wsdl:operation name="GetContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/GetContracts" message="tns:IProxyService_GetContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/GetContractsResponse" message="tns:IProxyService_GetContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/GetStations" message="tns:IProxyService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/GetStationsResponse" message="tns:IProxyService_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClosestStationWithBikes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/FindClosestStationWithBikes" message="tns:IProxyService_FindClosestStationWithBikes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/FindClosestStationWithBikesResponse" message="tns:IProxyService_FindClosestStationWithBikes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClosestStationWithStands">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/FindClosestStationWithStands" message="tns:IProxyService_FindClosestStationWithStands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/FindClosestStationWithStandsResponse" message="tns:IProxyService_FindClosestStationWithStands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStationWithBikesStateOrFindClosest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/UpdateStationWithBikesStateOrFindClosest" message="tns:IProxyService_UpdateStationWithBikesStateOrFindClosest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/UpdateStationWithBikesStateOrFindClosestResponse" message="tns:IProxyService_UpdateStationWithBikesStateOrFindClosest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStationWithStandsStateOrFindClosest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/UpdateStationWithStandsStateOrFindClosest" message="tns:IProxyService_UpdateStationWithStandsStateOrFindClosest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/UpdateStationWithStandsStateOrFindClosestResponse" message="tns:IProxyService_UpdateStationWithStandsStateOrFindClosest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/GetDataUsingDataContract" message="tns:IProxyService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/GetDataUsingDataContractResponse" message="tns:IProxyService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxyService" type="tns:IProxyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContracts">
      <soap:operation soapAction="http://tempuri.org/IProxyService/GetContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IProxyService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClosestStationWithBikes">
      <soap:operation soapAction="http://tempuri.org/IProxyService/FindClosestStationWithBikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClosestStationWithStands">
      <soap:operation soapAction="http://tempuri.org/IProxyService/FindClosestStationWithStands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStationWithBikesStateOrFindClosest">
      <soap:operation soapAction="http://tempuri.org/IProxyService/UpdateStationWithBikesStateOrFindClosest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStationWithStandsStateOrFindClosest">
      <soap:operation soapAction="http://tempuri.org/IProxyService/UpdateStationWithStandsStateOrFindClosest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IProxyService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyService">
    <wsdl:port name="BasicHttpBinding_IProxyService" binding="tns:BasicHttpBinding_IProxyService">
      <soap:address location="http://localhost:8090/LetsGoBiking/ProxyService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>